<nav class="navbar common-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
             <a tabindex="0" href="/">
            <img class="logo" src="{{ asset('images/logo.png') }}" alt="Mobicoop"/>
            </a>
             <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="buttons">
                    <a class="skip button is-light" href="#main">Aller au contenu</a>
{#                    <button type="button" id="modal-button-c" class="button is-light">#}
{#                        <span class="med-only">Accessibilité</span>#}
{#                    </button>#}
                    </div>
                    
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item buttons">
                    <div class="buttons">
                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('user_sign_up') }}" class="button is-primary">
                            {% trans from 'ui' %}menu.signup{% endtrans %}  
                        </a>
                        <a href="{{ path('user_login') }}" class="button is-primary">
                            {% trans from 'ui' %}menu.login{% endtrans %}
                        </a>
                            {% else %}
                        <a href="{{ path('user_messages') }}" class="button is-primary">
                            {% trans from 'ui' %}menu.messages{% endtrans %}
                        </a>
                        <a href="{{ path('user_profile_update') }}" class="button is-primary">
                            {% trans from 'ui' %}menu.profile{% endtrans %}
                        </a>
                        <a href="{{ path('logout') }}" class="button is-primary">
                            {% trans from 'ui' %}menu.logout{% endtrans %}
                        </a>
                            {% endif %}
                        <a href="{{ path('carpool_ad') }}" class="button is-dark">
                            {% trans from 'ui' %}menu.ad_create{% endtrans %}
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </nav>