{% extends '@Mobicoop/base.html.twig' %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_article/article') }}
{% endblock %}
{% block body %}
    <div class="container">
    {% if article %}
        <h1 class="title is-size-1">{{ article.title }}</h1>
            {% for section in article.sections %}
                <h2 class="title">{{ section.title }}</h2>
                <h3 class="subtitle">{{ section.subTitle }}</h3>
                    {% for paragraph in  section.paragraphs %}
                        <div class="paragraph has-text-justified">
                            <p>{{ paragraph.text }}</p>
                        </div>
                    {% endfor %}
            {% endfor %}
    {% else %}
        <h1 class="title is-size-1">Oups... Cet article n'existe pas encore.</h1>     
    {% endif %} 
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bundle_article/article') }}
{% endblock %}
