/*
* This files should contains all common variables to be used between *.scss files
* the _ in the name means it's a partial file dude! So it will not be generated as a _variable.css 👌
*/

@import '~bulma/sass/utilities/_all';

/* mobicoop palette */

$primary: #81F19A;
$secondary: #023D7F;
$tertiary: #F13FA8;
$primary-dark: #005933;

$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$tertiary-invert: findColorInvert($tertiary);
$primary-dark-invert: findColorInvert($primary-dark);

$main-font-color: $primary-dark;
$main-background-color: $white;
$nav-background-color: $primary;
$footer-background-color: $primary;

// breadcrumb config
$breadcrumb-item-padding-horizontal: 2vw;
$breadcrumb-item-color: $secondary;

$focusColor:  #F8D613;

@mixin is-mobicoop($color) {
  background: $color;
  border-color: transparent;
  color: $white;
}

@mixin outlinedFocus($color) {
  &:focus {
    outline: 3px solid $color;
  }
}

$partners: (
  mobicoop: (
    base: rgba(217, 0, 0, 0.5),
    url: 'www.roulezmalin.com'
  ),
  ouestgo: (
    base: rgba(54, 81, 255, 0.5),
    url: 'test.ouestgo.fr'
  ),
  itinisere: (
    base: rgba(102, 255, 76, 0.5),
    url: 'www.tedicov.fr'
  ),
  tictactrip: (
    base: rgba(255, 223, 211, 1),
    url: 'covoiturage-libre.fr'
  )
);
