/* Welcome to Mobicoop main SASS file, this file require all the sub-elements */
// Import Bulma and Buefy styles
// @import '~bulma/sass/utilities/_all'; // not sure if this is useful

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
@import '~bulma/sass/utilities/_all';
@import '_variables';
$colors: (
  'primary': ($primary, $primary-invert),
  'secondary': ($secondary, $secondary-invert),
  'tertiary': ($tertiary, $tertiary-invert),
  'dark': ($primary-dark, $primary),
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert),
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '_header';
.center-all {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: $main-background-color;
  color: $main-font-color;
  //h1 {
  // font-size: 75px;
  //}
  .hero-body {
    .container {
      .title {
        color: $white;
      }
    }
  }
  .error {
    border-radius: 10px;
    background-color: $danger;
    color: $danger-invert;
  }
  .fas {
    padding-right: 5px;
  }
  .input,
  .button,
  .ariaSelect {
    @include outlinedFocus($focusColor);
  }
  *:focus {
    outline: 3px solid #F8D613;
  }
  .label {
    color: $secondary;
  }
  label.required::after {
    content: '*';
    font-weight: bold;
  }
  //input[required='required'] {
  //  background-color: #FF6060;
  //}
  a.navbar-burger {
    color: #000;
  }
  .hero.is-passur {
    background-color: $secondary;
    .title {
      color: $white;
    }
  }
  .common-footer {
    background-color: $footer-background-color;
    color: $primary-dark;
    img {
      height: 75px;
      width: 75px;
    }
    a {
      color: $primary-dark;
    }
    ul {
      color: #008282;
    }
    .footer-font {
      font-size: 21px;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: bold;
      color: $primary-dark;
    }
  }
  .navbar {
    width: 100vw;
    height: 80px;
    background-color: $primary;

    @include outlinedFocus($focusColor);
    .navbar-brand {
      //display: inline-block;
      width: auto;
      float: left;
      margin-left: 2vw;
      margin-right: 2vw;
      img.logo {
        max-height: 4rem;
        margin: 1vw;
      }
    }
    .navbar-menu {
      .navbar-start {
        float: left;
      }
      .navbar-end {
        float: right;
        margin-right: 2vw;
      }
    }
    > * {
      a.button {
        @include outlinedFocus($focusColor);
      }
    }
    ul {
      width: auto;
      float: right;
      margin-right: 8px;
      background-color: $primary;
      a {
        color: $main-font-color;
      }
      button {
        //background: transparent;
        //color: $main-font-color;
        //padding: 0;
        //border: 0;
      }
    }
  }
  .help-block {
    color: $primary-dark;
  }
  .buttons {
    .button {
      font-weight: bold;
      border-radius: 20px;
      &:hover {
        color: $white;
      }
      &.skip {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      &.skip:focus {
        padding: 3px;
        width: auto;
        height: auto;
        margin: 0;
        overflow: auto;
        clip: auto;
        // some explicit visual styles
        background: $primary-dark;
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
