/*******************
      HOMEPAGE
*******************/

@import '../app.scss';
.header {
  background: url('/images/header.png');
  // background-position-y: 44%;
  // background-size: 80%;
}

// Change color box-shadow for all partners
@each $partnerId, $partnerVal in $partners {
  $tmpVar: map-get($partnerVal, url);
  .resultsItem[alt='#{$tmpVar}'] .box {
    background: rgba(map-get($partnerVal, base), 0.05);
  }
  .tag[alt='#{$tmpVar}'] {
    box-shadow: 0 0 0 2px map-get($partnerVal, base);
  }
  .is-#{$partnerId}:not( body ) {
    color: #FFF;
    background: map-get($partnerVal, base);
  }
}
.afixSearch {
  top: 0;
  z-index: 3;
}
.searchUser {
  text-align: center;
}
.externalJourney {
  .spinerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    .fulfilling-bouncing-circle-spinner {
      position: absolute;
      z-index: 2;
    }
  }
}
// Transitions elements
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.list-enter-active,
.list-leave-active {
  transition: all 2s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(40px);
}
