/*******************
      HOMEPAGE
*******************/

@import '../app.scss';
.header {
  background: url('/images/header.png');
}
.SearchBar {
  background-color: $tertiary;
  border-radius: 10px;
  height: 10vw;
  width: 70vw;
  padding: 1vw;
  .searchResult {
    color: $secondary;
    text-decoration: none;
  }
  .field {
    .dropdown-item {
      .icon {
        color: $tertiary;
      }
    }
  }
  #rechercher {
    background-color: $white;
    box-shadow: 2px 2px 2px #000;
    width: 10vw;
    font-family: inherit;
    border-radius: 20px;
    color: $tertiary;
    &:hover {
      color: $white;
      background-color: $tertiary;
    }

    @include outlinedFocus($focusColor);
  }
  #origin {
    box-shadow: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    border-bottom: solid 1px $white;
    border-radius: 0;
    background-color: $tertiary;

    @include outlinedFocus($focusColor);
    .input {
      color: $white;
    }
    ::placeholder {
      color: $white;
      opacity: 1;
    }
  }
  #destination {
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: solid 1px $white;
    border-radius: 0;
    background-color: $tertiary;

    @include outlinedFocus($focusColor);
    .input {
      color: $white;
    }
    ::placeholder {
      color: $white;
      opacity: 1;
    }
  }
}
.firstSection {
  height: 2vw;
}
.lastSection {
  height: 25vw;
}
.communautes {
  background-color: $secondary;
  .lien {
    color: $white;
    &:hover {
      color: $tertiary;
    }
  }
}
