{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Mobicoop - Résultats
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
	    {% if error is defined %}
		<span class="tag is-danger">{{ error }}</span>
		{% endif %}
		<div class="content">
			<div class="box">
				<h3 class="title">Votre annonce {{ proposal.criteria.driver == 1 ? (proposal.criteria.passenger == 1 ? "conducteur/passager" : "conducteur") : "passager" }}</h3>
				<div class="columns">
					<div class="column">
						<p><strong>Origine : </strong>{{ proposal.waypoints[0].address.streetAddress }} {{ proposal.waypoints[0].address.postalCode }} {{ proposal.waypoints[0].address.addressLocality }}</p>
						<p><strong>Fréquence : </strong>{{ proposal.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</p>
						<p><strong>Distance : </strong>{{ proposal.criteria.driver == 1 ? (proposal.criteria.directionDriver.distance / 1000)|round(2) : (proposal.criteria.directionPassenger.distance / 1000)|round(2) }} km</p>
					</div>
					<div class="column">
						<p><strong>Destination : </strong>{{ proposal.waypoints[1].address.streetAddress }} {{ proposal.waypoints[1].address.postalCode }} {{ proposal.waypoints[1].address.addressLocality }}</p>
						{% if proposal.criteria.frequency == 1 %}
						<p><strong>Date : </strong>le {{ proposal.criteria.fromDate|date('d/m/Y') }} à {{ proposal.criteria.fromTime|date('H:i') }}</p>
						{% else %}
						<p><strong>Date : </strong>du {{ proposal.criteria.fromDate|date('d/m/Y') }} au {{ proposal.criteria.toDate|date('d/m/Y') }}</p>
						{% endif %}
						<p><strong>Durée : </strong>{{ proposal.criteria.driver == 1 ? (proposal.criteria.directionDriver.duration / 60)|round : (proposal.criteria.directionPassenger.duration / 60)|round }} minutes</p>
					</div>
					<div class="column">
						<p><strong>Type : </strong>{{ proposal.type == 1 ? "Aller simple" : "Aller-retour" }}</p>
						{% if proposal.criteria.frequency == 2 %}
						<p><strong>Jours : </strong>
							{% if proposal.criteria.monCheck %}L {% endif %}
							{% if proposal.criteria.tueCheck %}M {% endif %}
							{% if proposal.criteria.wedCheck %}Me {% endif %}
							{% if proposal.criteria.thuCheck %}J {% endif %}
							{% if proposal.criteria.friCheck %}V {% endif %}
							{% if proposal.criteria.satCheck %}S {% endif %}
							{% if proposal.criteria.sunCheck %}D {% endif %}
						</p>
						{% else %}
						<p></p>
						{% endif %}
					</div>
				</div>
			</div>
    		<h2 class="title">Résultats</h2>
			{% if proposal.criteria.passenger %}
			<div class="box">
				<h3 class="title">Conducteurs</h3>
				{% if proposal.matchingRequests and proposal.matchingRequests|length>0  %}
					<table class="table">
						<tr>
							<th>#</th>
							<th>Covoitureur</th>
							<th>Date de départ</th>
							<th>Type</th>
							<th>Fréquence</th>
							<th>Origine</th>
							<th>Destination</th>
							<th>Distance</th>
							<th>Détour</th>
							<th>Durée</th>
						</tr>
						{% for matching in proposal.matchingRequests %}
							<tr>
								<td>{{ matching.proposalOffer.id }}</td>
								<td><a href="mailto:{{ matching.proposalOffer.user.email }}">{{ matching.proposalOffer.user.givenName|capitalize }} {{ matching.proposalOffer.user.familyName|first|upper }}</a></td>
								<td>
									{% if matching.proposalOffer.criteria.frequency == 1 %}
										{# punctual #}
										{{ matching.proposalOffer.criteria.fromDate|date('d/m/Y') }} à {{ matching.proposalOffer.criteria.fromTime|date('H:i') }}
									{% else %}
										{# regular #}
										{{ matching.proposalRequest.criteria.fromDate|date('d/m/Y') }} à 
										{% if matching.proposalRequest.criteria.fromDate|date('w') == 0 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 1 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 2 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 3 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 4 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 5 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 6 %}
											{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
										{% endif %}								
									{% endif %}
								</td>
								<td>{{ matching.proposalOffer.type == 1 ? "Aller simple" : "Aller-retour" }}</td>
								<td>{{ matching.proposalOffer.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</td>
								<td>{{ matching.proposalOffer.waypoints[0].address.addressLocality }}</td>
								<td>{{ matching.proposalOffer.waypoints[1].address.addressLocality }}</td>
								<td>{{ (matching.criteria.directionDriver.distance / 1000) | round(2) }}km</td>
								<td>{{ ((matching.criteria.directionDriver.distance - matching.proposalOffer.criteria.directionDriver.distance)/ 1000) | round(2) }}km</td>
								<td>{{ (matching.criteria.directionDriver.duration / 60) | round}} minutes</td>
							</tr>
						{% endfor %}							
					</table>
				{% else %}
					<span class="tag is-warning">Pas de conducteur trouvé.</span>
				{% endif %}
			</div>
			{% endif %}
			{% if proposal.criteria.driver %}
			<div class="box">
				<h3 class="title">Passagers</h3>
				{% if proposal.matchingOffers and proposal.matchingOffers|length>0  %}
					<table class="table">
						<tr>
							<th>#</th>
							<th>Covoitureur</th>
							<th>Date de départ souhaitée</th>
							<th>Type</th>
							<th>Fréquence</th>
							<th>Origine</th>
							<th>Destination</th>
							<th>Distance</th>
							<th>Détour</th>
							<th>Durée</th>
						</tr>
						{% for matching in proposal.matchingOffers %}
							<tr>
								<td>{{ matching.proposalRequest.id }}</td>
								<td><a href="mailto:{{ matching.proposalRequest.user.email }}">{{ matching.proposalRequest.user.givenName|capitalize }} {{ matching.proposalRequest.user.familyName|first|upper }}</a></td>
								<td>
									{% if matching.proposalRequest.criteria.frequency == 1 %}
										{# punctual #}
										{{ matching.proposalRequest.criteria.fromDate|date('d/m/Y') }} à {{ matching.proposalRequest.criteria.fromTime|date('H:i') }}
									{% else %}
										{# regular #}
										{{ matching.proposalOffer.criteria.fromDate|date('d/m/Y') }} à 
										{% if matching.proposalOffer.criteria.fromDate|date('w') == 0 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 1 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 2 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 3 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 4 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 5 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 6 %}
											{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
										{% endif %}								
									{% endif %}
								</td>
								<td>{{ matching.proposalRequest.type == 1 ? "Aller simple" : "Aller-retour" }}</td>
								<td>{{ matching.proposalRequest.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</td>
								<td>{{ matching.proposalRequest.waypoints[0].address.addressLocality }}</td>
								<td>{{ matching.proposalRequest.waypoints[1].address.addressLocality }}</td>
								<td>{{ (matching.criteria.directionDriver.distance / 1000) | round(2) }}km</td>
								<td>{{ ((matching.criteria.directionDriver.distance - proposal.criteria.directionDriver.distance)/ 1000) | round(2) }}km</td>
								<td>{{ (matching.criteria.directionDriver.duration / 60) | round}} minutes</td>
							</tr>
						{% endfor %}							
					</table>
				{% else %}
					<span class="tag is-warning">Pas de passager trouvé.</span>
				{% endif %}
			</div>
			{% endif %}
		</div>
		
	</div>
</section>

{% endblock %}
