{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Mobicoop - Mes annonces
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
	    {% if error is defined %}
		<span class="tag is-danger">{{ error }}</span>
		{% endif %}
		{% if hydra and hydra.member|length > 0 %}
          	{% for proposal in hydra.member %}
          	<div class="box">
				<h3 class="title">Votre annonce {{ proposal.criteria.driver == 1 ? (proposal.criteria.passenger == 1 ? "conducteur/passager" : "conducteur") : "passager" }}</h3>
				<div class="columns">
					<div class="column">
						<p><strong>Origine : </strong>{{ proposal.waypoints[0].address.streetAddress }} {{ proposal.waypoints[0].address.postalCode }} {{ proposal.waypoints[0].address.addressLocality }}</p>
						<p><strong>Fréquence : </strong>{{ proposal.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</p>
						<p><strong>Distance : </strong>{{ proposal.criteria.driver == 1 ? (proposal.criteria.directionDriver.distance / 1000)|round(2) : (proposal.criteria.directionPassenger.distance / 1000)|round(2) }} km</p>
						<p><a class="button is-primary" href="{{ path('ad_results',{'id':proposal.id}) }}">Résultats</a></p>
					</div>
					<div class="column">
						<p><strong>Destination : </strong>{{ proposal.waypoints[1].address.streetAddress }} {{ proposal.waypoints[1].address.postalCode }} {{ proposal.waypoints[1].address.addressLocality }}</p>
						{% if proposal.criteria.frequency == 1 %}
						<p><strong>Date : </strong>le {{ proposal.criteria.fromDate|date('d/m/Y') }} à {{ proposal.criteria.fromTime|date('H:i') }}</p>
						{% else %}
						<p><strong>Date : </strong>du {{ proposal.criteria.fromDate|date('d/m/Y') }} au {{ proposal.criteria.toDate|date('d/m/Y') }}</p>
						{% endif %}
						<p><strong>Durée : </strong>{{ proposal.criteria.driver == 1 ? (proposal.criteria.directionDriver.duration / 60)|round : (proposal.criteria.directionPassenger.duration / 60)|round }} minutes</p>
					</div>
					<div class="column">
						<p><strong>Type : </strong>{{ proposal.type == 1 ? "Aller simple" : "Aller-retour" }}</p>
						{% if proposal.criteria.frequency == 2 %}
						<p><strong>Jours : </strong>
							{% if proposal.criteria.monCheck %}L {% endif %}
							{% if proposal.criteria.tueCheck %}M {% endif %}
							{% if proposal.criteria.wedCheck %}Me {% endif %}
							{% if proposal.criteria.thuCheck %}J {% endif %}
							{% if proposal.criteria.friCheck %}V {% endif %}
							{% if proposal.criteria.satCheck %}S {% endif %}
							{% if proposal.criteria.sunCheck %}D {% endif %}
						</p>
						{% else %}
						<p></p>
						{% endif %}
					</div>
				</div>
			</div>
      	    {% endfor %}
      	</table>
      	{% else %}
      	<span class="tag is-warning">Vous n'avez pas publié d'annonces.</span>
      	{% endif %}
  	</div>
</section>

{% endblock %}
