{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}user.profile_update.title{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_user/updateProfile') }}
{% endblock %}
{% block body %}

<section class="hero is-passur">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
				{% trans from 'ui' %}user.profile.title{% endtrans %}
      		</h1>
			  <p class="sub-title">
			  Accédez à votre profil et modifier vos paramètres à partir de cette page
			  </p>
    	</div>
  	</div>
</section>
<section class="navigation">
<nav class="breadcrumb is-centered has-bullet-separator breadcrumbTop" aria-label="breadcrumbs">
  <ul>
    <li><a  href="#">{% trans from 'ui' %}user.profile.title{% endtrans %}</a></li>
	<li><a class="updatePassword" href="{{ path('user_password_update') }}">{% trans from 'ui' %}user.profile.buttons.password{% endtrans %}</a></li>
    <li><a  href="{{ path('user_proposals') }}">{% trans from 'ui' %}user.profile.buttons.ads{% endtrans %}</a></li>
  </ul>
</nav>
</section>
<section class="section" id='update'>
	<div class="container updateForm">
	    {% if user %}
			{% for address in user.addresses %}
				{% if address.name == 'homeAddress' %}
    				<section>
						<div class="container">
							<Updateprofile geo-search-url="/geosearch?search=" given-name="{{user.givenName}}" family-name="{{user.familyName}}" telephone="{{user.telephone}}" email="{{user.email}}" gender="{{user.gender}}" birth-year="{{user.birthYear}}" street="{{address.street}}" street-address="{{address.streetAddress}}" postal-code="{{address.postalCode}}" sub-locality="{{address.subLocality}}" address-locality="{{address.addressLocality}}" local-admin="{{address.localAdmin}}" county="{{address.county}}" macro-county="{{address.macroCounty}}" region="{{address.region}}" macro-region="{{address.macroRegion}}" address-country="{{address.addressCountry}}" country-code="{{address.countryCode}}" latitude="{{address.latitude}}" longitude="{{address.longitude}}" sent-token="{{ csrf_token('profile-update') }}"></Updateprofile>
						</div>
					</section>		
				{% endif %}
			{% endfor %}
		{% else %}	
<section>
	<div class="container">
		<Updateprofile geo-search-url="/geosearch?search=" given-name="{{user.givenName}}" family-name="{{user.familyName}}" telephone="{{user.telephone}}" email="{{user.email}}" gender="{{user.gender}}" birth-year="{{user.birthYear}}" street="null" street-address="null" postal-code="null" sub-locality="null" address-locality="null" local-admin="null" county="null" macro-county="null" region="null" macro-region="null" address-country="null" country-code="null" latitude="null" longitude="null" sent-token="{{ csrf_token('profile-update') }}"></Updateprofile>
	</div>
</section>						
   		
   			<span class="tag is-danger">User not found.</span>
   		{% endif %}
    </div>
</section>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bundle_user/updateProfile') }}
{% endblock %}
