{% extends '@Mobicoop/base.html.twig' %}
{# LOAD  #}
{% block title %}
  {% trans from 'ui' %}carpool.ad_create.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('bundle_ad/create') }}
{% endblock %}
{% block body %}
  <Adcreateform geo-search-url="/geosearch?search=" :sent-frequency="{{ form.frequency.vars.value }}" :sent-type="{{ form.type.vars.value }}" :sent-role="{{ form.role.vars.value }}" sent-token="{{ csrf_token('ad-create') }}"></Adcreateform>
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('bundle_ad/create') }}
{% endblock %}