{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Communauté{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_community/communities') }}
{% endblock %}
{% block body %}
   <section class="hero firstSection">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Description de la communauté
                </h1>
            </div>
        </div>
    </section>
    <section class="hero cardSection">
    <div class="card">
  <div class="card-image">
    <figure class="image is-3by1">
      <img src="https://bulma.io/images/placeholders/720x240.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{community.name}}</p>
        <p class="subtitle is-6">Créateur de la communauté : {{community.user.givenName ~ " " ~ community.user.familyName}}</p>
      </div>
    </div>

    <div class="content">
        {{community.description}}
        <br>
        {{community.fullDescription}}
    </div>
  </div>
</div>
    </section>
    <section class="hero communautes has-text-centered">
    <a class="lien" href="{{ path('community_list') }}">Liste des communautés</a>
    </section>
   
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bundle_community/communities') }}
{% endblock %}
